<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<body>
{% include '@Twig/include/header.html.twig' %}

<!-- PAGE CONTENT
============================================= -->
<div id="page" class="page">
    <!-- HEADER
    ============================================= -->
    <header id="header" class="header tra-menu navbar-dark">
        <div class="header-wrapper">
            <!-- MOBILE HEADER -->
            <div class="wsmobileheader clearfix">
                <span class="smllogo"><img src="{{ asset('assets/images/icons/SHADES.png') }}"
                                           alt="mobile-logo"/></span>
                <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                <a href="tel:+1 250 754 64 14" class="callusbtn ico-20"><span class="flaticon-phone-call-1"></span></a>
            </div>
        </div>     <!-- End header-wrapper -->
    </header>    <!-- END HEADER -->
    <!-- HERO-9
    ============================================= -->
    <section id="hero-9" class="bg-fixed hero-section division">
        <div class="container">
            <div class="row d-flex align-items-center">
                <!-- HERO TEXT -->
                <div class="col-md-8 col-lg-6">
                    <div class="hero-9-txt">
                        <!-- Title -->
                        <h2 style="color: white">Best Relax Spa zone</h2>
                        <!-- Text -->
                        <p class="p-title-md" style="color: white">Relax and make shine with us
                        </p>
                        <!-- Button -->
                        <a href="#about-4" class="btn violet-red--btn tra-black--hover">Find Out More</a>
                    </div>
                </div>    <!-- END HERO TEXT -->
            </div>    <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END HERO-9 -->
    <!-- SERVICES-2
    ============================================= -->
    <section id="services-2" class="wide-70 services-section division">
        <div class="container">
            <!-- SERVICES-2 WRAPPER -->
            <div class="sbox-2-wrapper text-center">
                <div class="row row-cols-1 row-cols-md-3">
                    <!-- SERVICES BOX #1 -->
                    <div class="col">
                        <div id="sb-2-1" class="sbox-2 mb-40 wow fadeInUp" data-wow-delay="0.3s">
                            <!-- Icon -->
                            <div class="sbox-ico ico-95 black--color">
                                <img src="{{ asset('assets/images/icons/manicure.png') }}" alt="">
                            </div>
                            <!-- Title -->
                            <h5 class="h5-lg">Nail Care</h5>
                            <!-- Text -->
                            <p class="p-lg">invite you to the Nail Care procedure, where your nails get a royal look and
                                shine with health and beauty.</p>
                            <!-- Link -->
                            <p class="tra-link mt-20"><a href="{{ url('price') }}">Find Out More</a></p>
                        </div>
                    </div>
                    <!-- SERVICES BOX #2 -->
                    <div class="col">
                        <div id="sb-2-2" class="sbox-2 mb-40 wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Icon -->
                            <div class="sbox-ico ico-95 black--color">
                                <img src="{{ asset('assets/images/icons/pedicure.png') }}" alt="">
                            </div>
                            <!-- Title -->
                            <h5 class="h5-lg">Pedicure</h5>
                            <!-- Text -->
                            <p class="p-lg">Treat your feet to a blissful experience, as our skilled professionals
                                soothe, exfoliate, and beautify your tired feet, leaving them feeling refreshed and
                                looking stunning.</p>
                            <!-- Link -->
                            <p class="tra-link mt-20"><a href="{{ url('price') }}">Find Out More</a></p>
                        </div>
                    </div>
                    <!-- SERVICES BOX #3 -->
                    <div class="col">
                        <div id="sb-2-3" class="sbox-2 mb-40 wow fadeInUp" data-wow-delay="0.9s">
                            <!-- Icon -->
                            <div class="sbox-ico ico-95 black--color">
                                <img src="{{ asset('assets/images/icons/massage.png') }}" alt="">
                            </div>
                            <!-- Title -->
                            <h5 class="h5-lg">Massage</h5>
                            <!-- Text -->
                            <p class="p-lg">Immerse yourself in pure relaxation as our expert therapists melt away
                                tension and stress through a personalized massage, restoring balance and harmony to your
                                body and mind</p>
                            <!-- Link -->
                            <p class="tra-link mt-20"><a href="{{ url('price') }}">Find Out More</a></p>
                        </div>
                    </div>
                </div>     <!-- End row -->
            </div>     <!-- END SERVICES-2 WRAPPER -->
        </div>       <!-- End container -->
    </section>    <!-- END SERVICES-2 -->
    <!-- ABOUT-3a
    ============================================= -->
    <section id="about-3a" class="about-section division">
        <div class="container">
            <div class="row d-flex align-items-center">
                <!-- IMAGE BLOCK -->
                <div class="col-md-5 col-lg-6 order-last order-md-2">
                    <div class="img-block left-column wow fadeInRight">
                        <img class="img-fluid" src="{{ asset('assets/images/700x700_1.jpg') }}" alt="about-image">
                    </div>
                </div>
                <!-- TEXT BLOCK -->
                <div class="col-md-7 col-lg-6 order-first order-md-2">
                    <div class="txt-block right-column wow fadeInLeft">
                        <!-- Section ID -->
                        <div class="section-id">Get Your Shine On</div>
                        <!-- Title -->
                        <h3 class="h3-md">Choose Us</h3>
                        <!-- Text -->
                        <p class="p-lg">Shades Wellness Spa is a pioneering European Spa in Nanaimo, with a remarkable
                            journey spanning from 1995 to the present. We take immense pride in being the first spa in
                            the area to introduce a wet room, which allows us to offer invigorating full-body
                            exfoliation and a wide range of body wraps, complemented by our state-of-the-art Vichy
                            Shower and Hydrotherapy Tub, featuring underwater lymphatic massage and rejuvenating seaweed
                            baths.
                        </p>
                    </div>
                </div>
            </div>    <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END ABOUT-3a -->
    {% include '@Twig/include/price.html.twig' %}

    {% include '@Twig/include/promotion.html.twig' %}

    <!-- BRANDS-1
    ============================================= -->
    <div id="brands-1" class="brands-wide brands-section division">
        <div class="container">
            <div class="row">
                <div class="col brands-1-wrapper text-center">
                    <div class="owl-carousel brands-1-carousel">
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-1.png') }}" alt="brand-logo"/>
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-2.png') }}" alt="brand-logo"/>
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-3.png') }}" alt="brand-logo"/>
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-4.png') }}" alt="brand-logo"/>
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-5.png') }}" alt="brand-logo">
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-6.png') }}" alt="brand-logo"/>
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-7.png') }}" alt="brand-logo"/>
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-8.png') }}" alt="brand-logo"/>
                        </div>
                        <!-- BRAND LOGO IMAGE -->
                        <div class="brand-logo">
                            <img class="img-fluid" src="{{ asset('assets/images/brand-9.png') }}" alt="brand-logo"/>
                        </div>
                    </div>
                </div>
            </div>      <!-- End row -->
        </div>        <!-- End container -->
    </div>    <!-- END BRANDS-1 -->
</div>     <!-- End container --> <!-- END TESTIMONIALS-1 -->
<!-- BANNER-1
============================================= -->
<section id="banner-1" class="bg-scroll banner-section division">
    <div class="container">
        <div class="row">
            <!-- BANNER TEXT -->
            <div class="col-lg-8 offset-lg-2">
                <div class="banner-1-txt text-center white--color">
                    <!-- Title -->
                    <h5 class="h5-xl">Call us right NOW</h5>
                    <h3>SAVE UP TO</h3>
                    <h2>5% OFF</h2>
                    <!-- Button -->
                    <a href="{{ url('about') }}" class="btn btn-md violet-red--btn tra-white--hover">Call Us</a>
                </div>
            </div>    <!-- END BANNER TEXT -->
        </div>    <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- END BANNER-1 -->

{% include '@Twig/include/gallery.html.twig' %}

<section id="about-5" class="wide-100 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <!-- TEXT TABLE -->
            <div class="col-md-6 order-last order-md-2">
                <div class="txt-table left-column wow fadeInRight">
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Mon – Frd</td>
                            <td> -</td>
                            <td class="text-end">10:00 AM - 5:30 PM</td>
                        </tr>
                        <tr>
                            <td>Evening</td>
                            <td> -</td>
                            <td class="text-end">On request</td>
                        </tr>
                        <tr class="last-tr">
                            <td>Sun - Sun</td>
                            <td>-</td>
                            <td class="text-end">Only on request</td>
                        </tr>
                        <tr class="last-tr">
                            <td>Holidays</td>
                            <td>-</td>
                            <td class="text-end">Closed stat Holidays</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>    <!-- END TEXT TABLE -->
            <!-- TEXT BLOCK -->
            <div class="col-md-6 order-first order-md-2">
                <div class="txt-block right-column wow fadeInLeft">
                    <!-- Section ID -->
                    <span class="section-id">Time Schedule</span>
                    <!-- Title -->
                    <h3 class="h3-xs">Working Hours</h3>
                    <!-- Text -->
                    <p class="p-lg">Relax your mind and body, while we indulge your soul with our selection of luxurious
                        spa packages. We offer a wide variety of spa services to meet all of your needs. Spa services
                        include, massages, Registered Massage Therapy (RMT), facials, manicures, pedicures, waxing, body
                        treatments, spa packages, couples spa packages and more.
                    </p>
                </div>
            </div>    <!-- END TEXT BLOCK -->
        </div>      <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- END ABOUT-5 -->
<!-- PROMO-4
============================================= -->
<section id="promo-4" class="rel promo-section division">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 align-items-center">
            <!-- PROMO BOX #1 -->
            <div class="col">
                <div id="pb-4-1">
                    <div class="pbox-4-description black--color">
                        <div class="pbox-4-caption">
                            <!-- Section ID -->
                            <span class="section-id">A Brush of Perfection</span>
                            <!-- Title -->
                            <h3 class="h3-md">Follow & Share</h3>
                            <!-- Link -->
                            <h2 class="h2-xl"><a href="#">@Shades Spa</a></h2>
                            <!-- Button -->
                            <a href="{{ url('gallery') }}" class="btn violet-red--btn tra-black--hover">View Our
                                Gallery</a>
                        </div>
                    </div>
                </div>
            </div>    <!-- END PROMO BOX #1 -->
            <!-- PROMO BOX #2 -->
            <div class="col">
                <div id="pb-4-2">
                    <div class="pbox-4-description white--color">
                        <div class="pbox-4-caption">
                            <!-- Section ID -->
                            <span class="section-id">Gift certificate available</span>
                            <!-- Title -->
                            <h2>Gift <span>Cards</span></h2>
                            <!-- Button -->
                        </div>
                    </div>
                </div>
            </div>    <!-- END PROMO BOX #2 -->
        </div>    <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- END PROMO-4 -->

<!-- NEWSLETTER-1
============================================= -->
<section id="newsletter-1" class="newsletter-section division">
    <div class="container">
        <div class="newsletter-wrapper bg--honey-dew">
            <!-- SECTION TITLE -->
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="section-title title-01 mb-50">
                        <!-- Section ID -->
                        <span class="section-id">Connect with Shades Spa</span>

                        <!-- Title -->
                        <h2 class="h2-lg">Join Our Newsletter</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- NEWSLETTER FORM -->
                <div class="col">
                    <form class="newsletter-form">

                        <div class="input-group">
                            <input type="email" autocomplete="off" class="form-control"
                                   placeholder="Your email address" required id="s-email">
                            <span class="input-group-btn">
											<button type="submit"
                                                    class="btn violet-red--btn black--hover">Subscribe Now</button>
										</span>
                        </div>
                        <!-- Small Text -->
                        <p class="p-md">By signing and clicking Submit, you affirm you have read and agree to the
                            <a href="{{ url('privacy') }}" class="black--color">Privacy Policy</a> and <a
                                    href="{{ url('terms') }}"
                                    class="black--color">Terms of
                                Use</a>,
                            and want to receive news.
                        </p>
                        <!-- Newsletter Form Notification -->
                        <label for="s-email" class="form-notification"></label>

                    </form>
                </div>      <!-- END NEWSLETTER FORM -->
            </div>      <!-- End row -->
        </div>    <!-- End newsletter-wrapper -->
    </div>       <!-- End container -->
</section>    <!-- END NEWSLETTER-1 -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GSP8QRS9KM"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-GSP8QRS9KM');
</script>

</body>
{% include '@Twig/include/footer.html.twig' %}

</html>