<!-- FOOTER-3 ============================================= -->
<footer id="footer-3" class="1bg--deep-blue footer division">
    <div class="container 1white-smoke--color">


        <!-- FOOTER CONTENT -->
        <div class="row">


            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-3">
                <div class="footer-contacts mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Location</h5>

                    <!-- Salon Name -->
                    <p class="p-lg txt-600">Shades Spa</p>

                    <!-- Address -->
                    <p class="p-lg"> 101 -335, Wesley Street</p>
                    <p class="p-lg"> Nanaimo, BC, Canada</p>

                </div>
            </div>

            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-3">
                <div class="footer-contacts mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Contacts</h5>

                    <!-- Phone -->
                    <p class="p-lg"><a href="tel:123456789">ph: +1 250 754 64 14</a></p>

                    <!-- Email -->
                    <p class="p-lg"><a href="mailto:bonnie.swackhamer@gmail.com" class="txt-600">bonnie.swackhamer@gmail.com</a>
                    </p>

                    <!-- List -->
                    <ul class="foo-socials ico-20 text-center clearfix">
{#                        <li><a href="#" class="ico-facebook"><span class="flaticon-instagram"></span></a></li>#}
{#                        <li><a href="#" class="ico-twitter"><span class="flaticon-facebook"></span></a></li>#}
{#                        <li><a href="#" class="ico-youtube"><span class="flaticon-yelp"></span></a></li>#}
{#                        <li><a href="#" class="ico-youtube"><span class="flaticon-vimeo"></span></a></li>#}
                        <li><a href="https://wa.me/+12507546414<">
                                <img src="{{ asset('assets/images/icons/whatsapp.png') }}" class="mx-3" alt="WhatsApp" title="WhatsApp"
                                     style="height: 2.8rem">
                            </a></li>
                        <li><a href="viber://chat?number=+12507546414">
                                <img src="{{ asset('assets/images/icons/viber.png') }}" class="mx-2" alt="Viber" title="Viber"
                                     style="height: 3.2rem">
                            </a></li>
                        <li><a href="https://t.me/MrBroox">
                                <img src="{{ asset('assets/images/icons/telegram.png') }}" class="mx-3" alt="Telegram" title="Telegram"
                                     style="height: 3rem">
                            </a></li>
                    </ul>
                </div>
            </div>


            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-3">
                <div class="footer-info mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Opening Hours</h5>

                    <!-- Text -->
                    <p class="p-lg">Mon-Fri: 10:00 AM - 5:30 PM</p>
                    <p class="p-lg">Evening - On request</p>
                    <p class="p-lg">Sat - Sun: Only on request</p>
                    <p class="p-lg">Holidays: Closed stat Holidays</p>

                </div>
            </div>


            <!-- FOOTER GOOGLE MAP -->
            <div class="col-sm-6 col-lg-3">
                <div class="google-map mb-30">
                    <a href="https://goo.gl/maps/C8bsdG3i4VwxbVk59"
                       target="_blank">
                        <img class="img-fluid" src="{{ asset('assets/images/footer-map.jpg') }}" alt="footer-map">
                    </a>
                </div>
            </div>    <!-- END FOOTER GOOGLE MAP -->
        </div>      <!-- END FOOTER CONTENT -->

        <!-- BOTTOM FOOTER -->
        <div class="bottom-footer">
            <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">

                <!-- FOOTER COPYRIGHT -->
                <div class="col">
                    <div class="footer-copyright"><p class="p-md">&copy; {{ 'now' | date('Y') }}  Shades Spa. All Rights Reserved</p>
                    </div>
                </div>

                <!-- BOTTOM FOOTER LINKS -->
                <div class="col">
                    <ul class="bottom-footer-list text-end">
                        <li class="first-li"><p class="p-md"><a href="{{ url('privacy') }}">Privacy Policy</a></p></li>
                        <li class="last-li"><p class="p-md"><a href="{{ url('terms') }}">Terms & Conditions</a></p></li>
                    </ul>
                </div>


            </div>  <!-- End row -->
        </div>    <!-- BOTTOM FOOTER -->


    </div>       <!-- End container -->
</footer>
<!-- END FOOTER-3 -->

{% block javascripts %}
    <!-- EXTERNAL SCRIPTS
    ============================================= -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.custom.js"></script>
    <script src="/assets/js/jquery.easing.js"></script>
    <script src="/assets/js/jquery.appear.js"></script>
    <script src="/assets/js/jquery.scrollto.js"></script>
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/js/datetimepicker.js"></script>
    <script src="/assets/js/jquery.vide.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
{#    <script src="/assets/js/booking-form.js"></script>#}
{#    <script src="/assets/js/contact-form.js"></script>#}
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/wow.js"></script>

    <!-- Custom Script -->
    <script src="/assets/js/custom.js"></script>

{% endblock %}