{#        <div class="container"> #}
{#            <div class="row"> #}
{#                <div class="col"> #}
{#                    1 of 2 #}
{#                </div> #}
{#                <div class="col"> #}
{#                    2 of 2 #}
{#                </div> #}
{#            </div> #}
{#        </div> #}

<section id="about-4" class="pt-100 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <!-- TEXT BLOCK -->
            <div class="col-md-6">
                <div class="txt-block left-column wow fadeInRight">
                    <!-- Section ID -->
                    <span class="section-id">Fresh, Shiny, Bright</span>
                    <!-- Title -->
                    <h3 class="h3-md">Make your day shine with your rest body</h3>
                </div>
            </div>
            <!-- IMAGE BLOCK -->
            <div class="col-md-6">
                <div class="img-block right-column wow fadeInLeft">
                    <img class="img-fluid" src="{{ asset('assets/images/polish.png') }}" alt="about-image">
                </div>
            </div>
        </div>    <!-- End row -->
    </div>       <!-- End container -->
</section>
{% if items is defined %}
        <!-- PRICING-6 -->
        <section id="pricing-6" class="bg--tra-img wide-70 pricing-section division">
            <div class="container">
                <!-- PRICING-6 WRAPPER -->
                <div class="pricing-6-wrapper">
                    <div class="row">
                        {% for item in items %}
                        <!-- PRICING-6 TABLE -->
                        <div class="col-lg-6 d-flex mb-4">
                            <div class="pricing-6-table pr-25 w-100 wow fadeInUp">
                                <!-- Section ID -->
                                <span class="section-id">{{ item[0].service_name }}</span>
                                <!-- Title -->
                                <h5 class="h5-xl pricing-title">{{ item[0].service_title }}</h5>
                                {% for service in item %}
                                    <!-- PRICING LIST -->
                                    <ul class="pricing-6-list w-100">
                                        <!-- PRICING ITEM #1 -->
                                        <li class="pricing-6-item w-100">
                                            <!-- Title & Price -->
                                            <div class="detail-price">
                                                <div class="price-name"><h5 class="h5-lg">{{ service.name }}</h5></div>
                                                <div class="price-dots"></div>
                                                <div class="price-number"><h5 class="h5-lg">{{ service.price }}</h5>
                                                </div>
                                            </div>
                                            <!-- Description -->
                                            <div class="price-txt">
                                                {% if service.length is not null %}
                                                    <p class="p-md"><em>Service length {{ service.length }} minutes</em></p>
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>    <!-- END PRICING LIST -->
                                {% endfor %}
                            </div>
                        </div>   <br> <!-- END pricing-6 TABLE -->
                        {% endfor %}
                    </div>
                </div>      <!-- End row -->
            </div>    <!-- END PRICING-6 WRAPPER -->
            <!-- End container -->
        </section>    <!-- END PRICING-6 -->

{% endif %}